body{

}
h1,h2,h3,h4,h5,h6{}
p{}
a{}
ol{}
li{}

/*-------------------------------------
* Header
-------------------------------------*/

.hero{
	background-color:#3f51b5;
	color: #fff;
	padding: 20px 0;
	text-align: center;
}
/*-------------------------------------
* Logo
-------------------------------------*/
.logo{
	font-size: 34px;
	font-weight:bold;
	transform: uppercase;
}